*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 7500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url(../photos/pro1front_files/perfume-with-floral-aroma-burst-generative-ai_74760-5026.jpg);
    background-size: cover;
    position: relative;

}
.overlay-home{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);}

.home-content{
    color: white;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}
.home-title{
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.home-p{
    text-transform: capitalize;
    margin: 6px 0px;
    letter-spacing: 1.5px;

}
.btn{
    width:140px ;
    height: 50px;
    border-radius:10px ;
    margin-top: 12px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 18px;

}
.home-btn2{
    background-color: #9198f7;
    color: white;
}
.btn:hover{
    opacity: 0.7;
}
.home-header{
    width: 100%;
    height: 60px;
    background-color:rgba(145, 152, 247, 0.7);
    position: fixed;
    top: 0;
    border-radius: 4px;
    z-index: 10;
    
    
    
}
.home-header input{
    margin-top: 13px;
}

.input {
    width: 300px;
    height: 30px;
    margin-left: 140px;

    float: left;
    border-radius: 20px;
    border: 0.5px solid transparent;

}.input2{
    margin-left: 35px;
    line-height: 1;
    font-size: 18px;
    position: absolute;
    margin-top: 20px;

    
}
.input1{
    margin-left: -350px;
    margin-top: 16px;
    font-size: 23px;
    color: white;
    
}

.links {
    list-style: none;
    float: right ;
    margin-right: 100px;
    
}.links li  a{
     color:white;
    text-decoration: none;
}
.list-dropdown {
    position: relative;
    display: inline-block;
}.dropdown {
    position: absolute;
    width: 150px;
    padding: 5px;
    background-color: white;
    text-align: center;
    left: 0;
    top: 150%;
    visibility: hidden;
    opacity: 0;
    transition:  0.5s;
    z-index: 49;
    border: 1px solid rgb(184, 184, 243);
    border-radius: 10px;
    margin-bottom: 5px;
    
}.dropdown li  a {
    color: rgb(184, 184, 243);
    display: block;
    padding: 10px 0px;
    text-align: center;
    margin: 0;
    margin-left: -20px;
    position: relative;
    
}
.list-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
}


 .links   li {
    display: inline-block ;
    position: relative;
    margin-left: 25px;

    margin-top: 20px ;
}




.welcome{ 
    width: 80%;
    height: 100vh;
    background-color: #fff;
    margin-top: 40px;
    margin: auto;
    padding: 6px;
}
.welcome-title{
    text-transform: capitalize;
    text-align: center;
     padding-top: 80px;
     font-size: 35px;
}
.welcome-line{
    width: 17%;
    height: 8px;
    background-color:  #9198f7;
    margin: auto;
    margin-top: 8px;
}
.welcom-div{
    width: 30%;
    border: 1px solid  #9198f7;
    height: 240px;
    float: left;
    margin-top: 140px;
    text-align: center;
    border-radius: 12px;
    position: relative;
    
}
.div22{
    margin: 0 5%;
    margin-top: 140px;
    text-align: center;
    border-radius: 12px;
}
.welcome-title-div{
    padding-top: 40px;
    text-transform: capitalize;

}

.welcom-div:hover .welcome-title-div{
    color: rgb(82, 63, 228);
}

.welcome-p-div{
    padding-top: 35px;
    padding-bottom: 35px;
}.welcom-div:hover .welcome-p-div{
    color: black;
}
.welcome-a-div{
    text-decoration: none;
    
}
.div{
    padding-top: 20px;
    font-size: 25px;
    color:  #9198f7;
}
.offer{
     width: 100%;
    height: 100vh;
    background-color:#fff;
}
.offer-title{
    text-transform: capitalize;
    text-align: center;
     padding-top: 80px;
     font-size: 35px;
}
.offer-line{
    width: 12%;
    height: 8px;
    background-color:  #9198f7;
    margin: auto;
    margin-top: 8px;
}
.offer-title-div{
    font-size: 25px;
    padding-left: 6px;
}

.div1:hover .offer-title-div{
color: blue;
}.div2:hover .offer-title-div{
color: blue;
}.div3:hover .offer-title-div{
color: blue;
}.div4:hover .offer-title-div{
color: blue;
}.div5:hover .offer-title-div{
color: blue;
}.div6:hover .offer-title-div{
color: blue;
}
.offer-p-div{
    padding-top: 30px;
}

.div1:hover .offer-p-div{
    color: black;
}.div2:hover .offer-p-div{
    color: black;
}.div3:hover .offer-p-div{
    color: black;
}.div4:hover .offer-p-div{
    color: black;
}.div5:hover .offer-p-div{
    color: black;
}.div6:hover .offer-p-div{
    color: black;
}
.aaaaa{
    margin-left: -15px;
    font-size: 30px;
    color:  #9198f7;
}


.div1{
   float: left;
    width: 30%;
    position: relative;
    margin-left: 130px;
}
.div2{
   float: left;
    width: 30%;
    position: relative;
    margin-left: 10px;
}.div3{
   float: left;
    width: 30%;
    position: relative;
    margin-left: -10px;
}.div4{
   float: left;
    width: 30%;
    position: relative;
     margin-left: 130px;
}.div5{
   float: left;
    width: 30%;
    position: relative;
    margin-left: 10px;
    text-align: center;
}.div6{
     margin-left: -10px;
   float: left;
    width: 30%;
    position: relative;
}
.offer-div-1{
    width: 300;
    border: 1px solid #9198f7;
    height: 200px;
    float: left;
    margin-top: 90px;
    margin-left: 50px;
    text-align: center;
    border-radius: 12px;
padding-top: 25px;
position: relative;}
    .offer-div-2{
    width: 300px;
    border: 1px solid #9198f7;
    height: 200px;
    float: left;
    margin-top: 90px;
    margin-left: 20px;
    text-align: center;
    border-radius: 12px;
padding-top: 25px;
position: relative;}
    .offer-div-3{
    width: 300px;
    border: 1px solid #9198f7;
    height: 200px;
    float: left;
    margin-top: 90px;
    margin-left: 20px;
    text-align: center;
    border-radius: 12px;
padding-top: 25px;
position: relative;}
    .offer-div-4{
    width: 300px;
    border: 1px solid #9198f7;
    height: 200px;
    float: left;
    margin-left: 50px;
    margin-top: 40px;
    text-align: center;
    border-radius: 12px;
padding-top: 25px;
position: relative;}
    .offer-div-5{
    width: 300px;
    border: 1px solid #9198f7;
    height: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    text-align: center;
    border-radius: 12px;
padding-top: 25px;
position: relative;}
    .offer-div-6{
    width: 300px;
    border: 1px solid #9198f7;
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 40px;

    text-align: center;
    border-radius: 12px;
padding-top: 25px;
position: relative;}
.choose{
     width: 100%;
    height: 100vh;
    background-color: #e9eaf6;

}
.choose-welcome{
    font-size: 35px;
    padding-top: 10px;

} .choose-line{ 
   width: 16%;
    height: 8px;
    background-color:  #9198f7;
    margin-left: 10px;
    margin-top: 8px;
}
.choose-p{
   color: rgb(178, 178, 180);
    padding-top: 40px;
    padding-bottom: 10px;
}.choose-list{
    list-style: none;

}
.iconinfo{
    color: #4f70e8;
    font-size: 18px;
}
.div-list{
    padding-bottom: 50px;
    padding-top: 50px;
}
.divs-content{
    width: 400px;
    height: 500px;
    border: 1px solid transparent;
    padding-top: 20px;
    margin-left: 150px;
    float: left;
    margin-top: 140px;
    padding-left: 20px;
}
.divs-choose{
      margin-left: 400px;
      float: left;
       margin-top: 140px;
       
}

.choose2{
background-color: rgb(244, 178, 244);
width: 20px;
height: 20px;
border-radius: 50%;
 float: left;
 margin-left:100px;
 margin-top: 14px;
}
.choose3{
background-color: rgb(235, 179, 239);
width: 20px;
height: 20px;
border-radius: 50%;
margin-left: 30px;
 float: left;
 margin-top: 14px;
}
.choose3:hover{
    background-color: #4f70e8;
}
.choose4{
background-color: rgb(234, 179, 239);
width: 20px;
height: 20px;
border-radius: 50%;
margin-left: 30px;
margin-top: 14px;

 float: left;}

.choose4:hover{
background-color: #4f70e8;
}
.sec6{
     width: 100%;
    height: 500px;
   background-image: url(../photos/pro1front_files/elegant-vegan-alcohol-arrangement_23-2149337694.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   position: relative;

}
.theall{
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}
.sec61{
   
    float: left;

}
.sec62{
     
    float: left;
    margin-left: 60px;
    
    
}
.sec63{
    
    float: left;
    margin-left: 60px;
}
.sec64{
    
   
    float: left;
    margin-left: 60px;
}
.item-icon{
    font-size: 40px;
    color: #9198f7;
}
.item-title{
    font-size: 20px;
    margin-top: 12px;
    color: white;
}
.item-text{
    font-size: 20px;
    margin-top: 12px;
    color: white;
}
.ourteam{
     width: 100%;
    height: 100vh;
    
    padding-top: 70px;
}

.title-ourteam{
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    text-transform: capitalize;
    padding-bottom: 8px;
}
.line-ourteam{
    width: 8%;
    height: 8px;
    background-color:  #9198f7;
    margin: auto;
    margin-top: 8px;
    
}
.ourteamdivs{
    width: 80%;
    margin: auto;
    margin-top: 120px;

}
.divourteam{
    float: left;
    width: 30%;
    background-color: rgb(244, 242, 242);
    padding: 18px 14px;
    text-align: center;
    height: 300px;
    border-radius: 5px;
    position: relative;
    
    
}
.divourteam-2{
    margin: 0px 5%;
    width: 30%;
    float: left;
    background-color: rgb(244, 242, 242);
    padding: 18px 14px;
    text-align: center;
    height: 300px;
    border-radius: 5px;
    position: relative;
}
.team-img{
    
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 6;

}.team-img img{
    width: 100%;
    
}
.team-icons{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
}
.divourteam:hover .team-icons {
    visibility: visible;
}
.divourteam-2:hover .team-icons {
    visibility: visible;
}
.team-icons a{
    display: block;
    width: 40px;
    height: 40px;
    background-color:#9198f7;
    color:white;
    margin-left: auto;
}
.team-icons a i{
    line-height: 40px;
}
.team-infotitle{
    color:#fff;
    padding-top: 16px;
    z-index: 7;
}
.team-infodecr{
    color: rgb(173, 172, 172);
    padding-top: 18px;
}
.divourteam:hover .team-infodecr{
    color: #fff;
}
.divourteam:hover .team-infotitle{
    color: #4f70e8;
}.divourteam-2:hover .team-infodecr{
    color: #fff;
}
.divourteam-2:hover .team-infotitle{
    color: #4f70e8;
}
.featured{
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #e6e8f9;
    


}
.parent{
    width: 80%;
    height: 600px;
    margin: auto;
    padding: 50px 85px;
    margin-top: 30px;
    border-radius: 15px;

}
.h2featured{
 text-align: center;
    padding-top: 30px;
    font-size: 35px;
    text-transform: capitalize;
    padding-bottom: 8px;
}
.hrfeatured{
 width: 8%;
    height: 8px;
    background-color:  #9198f7;
    margin: auto;
    margin-top: 8px;
}
.featureddiv1{
    float: left;
    position: relative;
    margin-top: 20px;
}.featureddiv2{
    float: left;
    margin-left: 60px;
    position: relative;
    margin-top: 20px;
}.featureddiv3{
    float: left;
    position: relative;
    margin-left: 60px;
    margin-top: 20px;
}.featureddiv4{
    float: left;
    position: relative;
    margin-top: 60px;
}.featureddiv5{
    float: left;
    position: relative;
    margin-left: 60px;
    margin-top: 60px;
}.featureddiv6{
    float: left;
    position: relative;
    margin-top: 60px;
    margin-left: 60px;

    
}
.featuredcontent1{

    width: 100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
     text-align: center; 
      visibility: hidden; }

.featureddiv1:hover .featuredcontent1{
    visibility: visible;
}
.featuredcontent2{
    width: 100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
     text-align: center; 
      visibility: hidden; 
}
.featureddiv2:hover .featuredcontent2{
    visibility: visible;
}.featuredcontent3{
    width: 100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
     text-align: center; 
      visibility: hidden; 
}
.featureddiv3:hover .featuredcontent3{
    visibility: visible;
}.featuredcontent4{
     width: 100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
     text-align: center; 
      visibility: hidden; 
    
}
.featureddiv4:hover .featuredcontent4{
    visibility: visible;
}.featuredcontent5{
   width: 100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
     text-align: center; 
      visibility: hidden; 
}
.featureddiv5:hover .featuredcontent5{
    visibility: visible;
}.featuredcontent6{
    width: 100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
     text-align: center; 
      visibility: hidden; 
    
}
.featureddiv6:hover .featuredcontent6{
    visibility: visible;
}
.featuredicons .icon1{
      background-color: #fff;
    width: 40px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
    color: rgb(131, 131, 133);
    font-size: 20px;
    border-radius: 6px;
}.featuredicons .icon2{
      background-color: #fff;
    width: 40px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
    color: rgb(131, 131, 133);
    font-size: 20px;
    border-radius: 6px;
}
.featuredicons a{
 display:inline-block;
    position: relative;
    top: 50px;
}
.featuredcategory{
    padding-top: 30px;
    font-size:30px ;

}
.featuredspan{
    position: relative;
    top: 20px;
}
.pricing{
      width: 100%;
    height: 100vh;
    background-color:white;
    position: relative;
}
.h22{
    
    text-align: center;
    padding-top: 80px;
    font-size: 35px;
}
.hr1{
    width: 6%;
    height: 8px;
    background-color:  #9198f7;
    margin: auto;
    margin-top: 8px;
}

.div11{
    border: 0.5px solid  #9198f7;
    float: left;
    text-align: center;
margin-left: 240px;
margin-top: 100px;
    width: 300px;
    border-radius: 6px;
    position: relative;
    

}
.div12{
    border: 0.5px solid  #9198f7;
    float: left;
    text-align: center;
    margin-top: 100px;
margin-left: 77px;
    width: 300px;
    border-radius: 6px;
    position: relative;
    

}.div13{
    border: 0.5px solid  #9198f7;
    float: left;
    text-align: center;
    margin-top: 100px;
margin-left: 77px;
    width: 300px;
    border-radius: 6px;
    position: relative;
    

}
.hr11{
    width: 40px;
    margin-left: 92px;
    height: 2.5px;
    background-color:  #9198f7;
}
.hr{
    width: 150px;
    margin-left: 40px;
    height: 2.5px;
    background-color: #9198f7;
}
.p1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid  #9198f7;

    padding-top: 6px;
    
}
.p11{
    padding-left: 120px;
}

.h33{
    padding-top: 10px;
}

.btn1{
    height: 40px;
    background-color: #9198f7;
   
    border-radius: 8px;
    width: 70px;
    
}
.btn1:hover{
    background-color: white;
}

.sec9{
     width: 100%;
    height: 500px;
   background-image: url(../photos/photo-1600795871209-6c48b1e0e898.avif);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
}
.theall2{
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}
.noura img{
position: absolute;
border-radius: 50%;
float: left;
margin-left: -100px;

}
.info-noura{
    float: left;
margin-left: 120px;
margin-top: 15px;
}

.khalid img{
    position: absolute;

border-radius: 50%;
float: left;
margin-left: -100px;

}
.info-khalid{
    margin-top: 15px;
float: left;
margin-left: 140px;

}
.div111{
    border: 1px solid transparent;
    width: 300px;
    height: 250px;
    float: left;
    margin-left: -80px;
    margin-top: 100px;
}
.div222{
      border: 1px solid transparent;
    width: 300px;
    height: 250px;
    float: left;
    margin-left: 150px;
    margin-top: 100px;
}
.detalisnoura{
    margin-top: 90px;
    width: 400px;
    margin-left: 40px;
}
.detaliskhalid{
    margin-top: 90px;
    width: 400px;
    margin-left: 40px;
}
.name{
    font-size: 30px;
    color: white;
}
.job{
    color: #3669f6;
}
.sec10{
      width: 100%;
    height: 100vh;
    background-color:white;
    padding-top: 100px;
    padding-left: 100px;
}
.news-item{
    width: 300px;
    height: 500px;
    border: 1px solid blueviolet;
    margin-left: 100px;
    background-color: #f7f7f7;
    border-radius: 9px;

}
.news-icons{
    margin-top: 50px;
}
.ffff{
    margin-left: 30px;
    

}
.item{
    margin-top: 25px;
}
.h333{
    margin-top: 13px;
    text-align: center;
    padding-bottom: 20px;
}.p333{
    padding-left: 12px;
    color: rgb(167, 165, 165);
    padding-bottom: 25px;
}
.news-read-more{

    text-decoration: none;
    margin-left: 120px;
}
.img-item{
    padding-left: 8px;
    padding-top: 15px;
    border-radius: 10px;
    z-index: 6;
    position: absolute;
}
.news-item{
    width: 300px;
    height: 500px;
    border: 1px solid blueviolet;
    margin-left: 150px;
    float: left;
     background-color: #f7f7f7;
     border-radius: 9px;
z-index: 7;
}
.news-icons{
    margin-top: 300px;
}
.ffff{
    margin-left: 30px;
    

}
.item{
    margin-top: 25px;
}
.h333{
    margin-top: 13px;
    text-align: center;
    padding-bottom: 20px;
}.p333{
    padding-left: 12px;
    color: rgb(167, 165, 165);
    padding-bottom: 25px;
}
.news-read-more{

    text-decoration: none;
    margin-left: 120px;
}
.img-item{
    padding-left: 8px;
    padding-top: 15px;
    border-radius: 10px;
}
.news-item{
    width: 300px;
    height: 500px;
    border: 1px solid blueviolet;
    margin-left: 100px;
    float: left;
     background-color: #f7f7f7;
     border-radius: 9px;
     position: relative;

}
.news-icons{
    margin-top: 300px;
    position: absolute;
    z-index: 6;
}
.ffff{
    margin-left: 30px;
    

}
.item{
    margin-top: 25px;
}
.h333{
    margin-top: 13px;
    text-align: center;
    padding-bottom: 20px;
}.p333{
    padding-left: 12px;
    color: rgb(167, 165, 165);
    padding-bottom: 25px;
}
.news-read-more{

    text-decoration: none;
    margin-left: 120px;
}
.img-item{
    padding-left: 8px;
    padding-top: 15px;
    border-radius: 10px;
}
.sec11{
    width: 100%;
    height: 400px;
    background-color: #cdcff2;
    position: relative;
}
.img img{
      position: absolute;
    margin-top: 40px;
    margin-left: 600px;
    border-radius: 12px;
    
}
.span{
    padding-top: 300px;
    padding-left: 570px;
}
.span span a{
   display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #9198f7;
    color: #fff;
    font-size: 30px;
    padding-top: 11px;
    position: relative;
    line-height: 1;
    text-align: center;

}
.p44{
    text-align: center;
}
.welcom-div::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;
}
.welcom-div:hover::after{
height: 100%;
width: 100%;
opacity: 0.4;

transition: 1s;
}
.divourteam::after{
     position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;

}
.divourteam:hover::after{
    height: 100%;
width: 100%;
opacity: 0.4;
z-index: 5;
transition: 1s;
}
.divourteam-2::after{
     position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;
}
.divourteam-2:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;
z-index: 5;
transition: 1s;
}
.offer-div-1::after{
      position: absolute;
    content: "";
    width: 0;
    height: 50%;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;
}
.offer-div-1:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;

transition: 1s;
}
.offer-div-2::after{
      position: absolute;
    content: "";
    width: 0;
    height: 50%;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;
}
.offer-div-2:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;

transition: 1s;
}
.offer-div-3::after{
      position: absolute;
    content: "";
    width: 0;
    height: 50%;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;
}
.offer-div-3:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;

transition: 1s;
}
.offer-div-4::after{
      position: absolute;
    content: "";
    width: 0;
    height: 50%;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;
}
.offer-div-4:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;

transition: 1s;
}
.offer-div-5::after{
      position: absolute;
    content: "";
    width: 0;
    height: 50%;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;
}
.offer-div-5:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;

transition: 1s;
}
.offer-div-6::after{
      position: absolute;
    content: "";
    width: 0;
    height: 50%;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;
}
.offer-div-6:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;

transition: 1s;
}
.news-item::after{
      position: absolute;
    content: "";
    width: 50%;
    height: 0px;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 12px;
    z-index: 4;
}
.news-item:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;
transition: 1s;
}
.div11::after{
      position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 7px;
}
.div11:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;
z-index: 4;
transition: 1s;
}

.div12::after{
      position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 7px;
}
.div12:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;
z-index: 4;
transition: 1s;
}

.div13::after{
      position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#cdcff2 ;
    opacity: 0;
    border-radius: 7px;
}
.div13:hover::after{
     height: 100%;
width: 100%;
opacity: 0.4;
z-index: 4;
transition: 1s;
}

.aa::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #e0c5f1;
    margin-top: 4px;
    
    display: block;
}
.aa:hover::after{
    width: 100%;
    height: 8%;
    transition: 2s;
}
